<!DOCTYPE html>
<html>

<head>
    <title>CS</title>
    <link rel='stylesheet' href='/stylesheets/searchstyle.css' />
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel='stylesheet' href='/stylesheets/slidenav.css'/>
    <link rel='stylesheet' href='/stylesheets/card.css'/>

</head>

<body>

    <%- include("./head/nav",{name: name}) %>
    <%- include("./head/search") %>
    <%- include("./head/slidenav")%>
    <%- include("./head/card")%>
    <%- include("./head/reviewview",{reviewMain: reviewMain})%>


</body>

</html>





<script type="text/javascript">

    function setsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function outsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function lsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function loutsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "none";
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function setsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function outsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
    function lsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function loutsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }

</script>