<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/searchstyle.css'/>
    <link rel='stylesheet' href='/stylesheets/default.css'/>
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
  </head>
  <body>
    <%- include("./head/nav") %>
    <%- include("./head/search") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  </body>
</html>
