<!DOCTYPE html>
<html>
  <head>
    <title>CS</title>
    <link rel='stylesheet' href='/stylesheets/searchstyle.css'/>
    <link rel='stylesheet' href='/stylesheets/default.css'/>
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel='stylesheet' href='/stylesheets/card.css'/>
  </head>
  <body>
    
    <%- include("./head/nav") %>
    <%- include("./head/search") %>
    <%- include("./head/card") %>
    <%- include("./head/card") %>
    <%- include("./head/card") %>
    <%- include("./head/card") %>
  </body>
</html>
