<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/sidenav.css' />
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .product_con{
            width: 1500px;
            margin-left: auto;
            margin-right: auto;
        }

        .product_contents {
            margin-top: 100px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 1164px;
        }

        .product_contents .product_nav {
            float: left;
            width: 200px;
        }

        .product_contents .product_main {
            float: right;
            /* border: 1px solid black; */
            width: 934px;
            height: 2200px;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .check_new_order{
            width: 100%;
            height: 600px;
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
        }

        .check__delivery{
            width: 100%;
            height: 600px;
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
        }

        a{color:#000;text-decoration: none;}
        a:link, a:hover, a:active{text-decoration: none;}


        .seller_title{
            width: 1500px;
            margin: 0 auto;
            height: 60px;
            position: relative;
            
        }

        .seller_title a{
            display: block; width: 40px; height: 48px; color: transparent; background: url('../images/logo.png') no-repeat;
            background-size: 40px 48px; margin: 0 auto;
        }

        .bottom_line{
            position:absolute;
            width: 1400px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background: #CCC;
            bottom: 0;
        }

        .content_title{
            font-size: 20px;
            height: 25px;
        }
        #new_order_list_table{
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            margin: 0 auto;
        }

        th, td {
            padding: 5px;
            text-align: left;
            
        }

        td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #new_order_list_table thead{
            border: 3px solid #ffc000;
            font-weight: bold;
        }
        
        tbody tr:nth-child(even)  { background-color: rgb(236, 236, 236); }
        #new_order_list_table tbody tr{
            cursor: pointer;
        }
        #new_order_list_table tbody tr:hover {
            background: #ddd;
        
        }
        
        
    </style>
</head>
<body>
    <div class="seller_title">
        <a href="/seller">업체 페이지</a>
        <div class="bottom_line"></div>
    </div>
    <div class="product_con">
        <div class="product_contents">
            <div class="product_nav">
                <div class="menu">
                    <div style="font-size: 25px; font-weight: bold;">관리하기</div>
                    <li class="menu-item">
                        <div class="btn">
                            상품관리
                            <button id="dropdown_btn" onclick="slidedown()"><img src="/images/font/down.png"/></button>
                        </div>
                        <div class="menu-item__sub" id="sub_drop">
                            <a href="/seller/upProduct">상품 등록</a>
                            <a href="/seller/checkProduct">상품 확인</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="btn">
                            주문관리
                            <button id="dropdown_btn2" onclick="slidedown2()"><img src="/images/font/down.png"/></button>
                        </div>
                        <div class="menu-item__sub" id="sub_drop2">
                            <a href="/seller/order_check_product">주문목록</a>
                            <!-- <a href="/seller/order_product">주문 상태</a> -->
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="btn">
                            <a href="/users/sign_out">로그아웃</a>
                        </div>
                    </li>

                </div>
                
                
                <script type="text/javascript">
                    var dropdown =  document.getElementById("dropdown_btn");
                    var dropdown2 = document.getElementById("dropdown_btn2");
                    var drop = document.getElementById('sub_drop');
                    var drop2 = document.getElementById('sub_drop2');
                    function slidedown(){
                        if(drop.classList[1]=='sub_drop'){
                            drop.classList.remove('sub_drop');
                            dropdown.classList.remove('rotate');
                        }else{
                            drop.classList.add('sub_drop');
                            dropdown.classList.add('rotate');
                        }
                    }
                    function slidedown2(){
                        if(drop2.classList[1]=='sub_drop2'){
                            drop2.classList.remove('sub_drop2');
                            dropdown2.classList.remove('rotate2');
                        }else{
                            drop2.classList.add('sub_drop2');
                            dropdown2.classList.add('rotate2');
                        }
                    }
                
                </script>
            </div>
            <div class="product_main">
                <div class="content_title">새 주문
                    <div>
                    </div>
                </div>
                <div class="check_new_order">

                    <table id="new_order_list_table">
                        <thead>
                            <td>주문번호</td>
                            <td>주문일자</td>
                            <td>주문자</td>
                            <td>제품이름</td>
                            <td>주문금액</td>
                        </thead>
                        <tbody>
                            <% for(var data of newOrderList){%>
                                <tr onclick="okay('<%= data.order_num%>')">
                                    <td><%= data.order_num%></td>
                                    <td><%= data.order_date%></td>
                                    <td><%= data.order_user_id%></td>
                                    <td><%= data.product_num%></td>
                                    <td><%= data.order_money%></td>
                                </tr>
                                
                            <%}%>
                            
                        </tbody>
                    </table>

                </div>
                <!-- <div class="content_title" style="margin-top: 20px;">판매량<div></div></div>
                <div class="check__delivery">
                    
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function okay(orderNum){
        console.log(orderNum)

        var URL = 'http://localhost:3000/seller/checkOrder';
        sendNewOrderCheck(URL, orderNum)

        async function sendNewOrderCheck(URL, orderNum){
            var data = {'orderNum': orderNum};

            var dataInfo = {
                method:"POST",
                body: JSON.stringify(data),
                headers:{
                    "Content-Type" : "application/json"
                }
            };

            const reqURL = await fetch(URL, dataInfo);
            const result = await reqURL.json();

            if(result){
                console.log(result.result)
                if(result.result = 'ok'){
                    
                    alert('주문확인성공');
                    window.location.reload();
                }
            }
        }
    }
</script>