<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel='stylesheet' href='/stylesheets/buystyle.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


    <script src='/javascripts/fabric_min.js'></script>
    <script type="text/javascript">
        function setsub() {
            var sublnb = document.getElementById("sublnb");
            sublnb.style.display = "block";
            sublnb.style.opacity = "1";
            sublnb.style.visibility = "visible";
        }

        function outsub() {
            var sublnb = document.getElementById("sublnb");
            sublnb.style.display = "none"
            sublnb.style.opacity = "0";
            sublnb.style.visibility = "hidden";
        }

        function lsub() {
            var looksub = document.getElementById("sublnb");
            sublnb.style.display = "block";
            sublnb.style.opacity = "1";
            sublnb.style.visibility = "visible";
        }

        function loutsub() {
            var looksub = document.getElementById("sublnb");
            sublnb.style.display = "none";
            sublnb.style.opacity = "0";
            sublnb.style.visibility = "hidden";
        }

        function setsub2() {
            var sublnb2 = document.getElementById("sublnb2");
            sublnb2.style.display = "block";
            sublnb2.style.opacity = "1";
            sublnb2.style.visibility = "visible";
        }

        function outsub2() {
            var sublnb2 = document.getElementById("sublnb2");
            sublnb2.style.display = "none";
            sublnb2.style.opacity = "0";
            sublnb2.style.visibility = "hidden";
        }

        function lsub2() {
            var sublnb2 = document.getElementById("sublnb2");
            sublnb2.style.display = "block";
            sublnb2.style.opacity = "1";
            sublnb2.style.visibility = "visible";
        }

        function loutsub2() {
            var sublnb2 = document.getElementById("sublnb2");
            sublnb2.style.display = "none";
            sublnb2.style.opacity = "0";
            sublnb2.style.visibility = "hidden";
        }
    </script>
</head>

<body onload="select_box_change()">
    <%- include("../head/nav") %>
    <div class="title">
        <h1>주문/결제</h1>
        <div class="order_state"><span class="before">주문결제</span> <span class="middle_state">></span> <span
                class="done">주문완료</span></div>
    </div>

    <div class="last_image">
        <!--이부분 제품마다 다르게 수정 필요-->
        <img class="pruduct_img" src="../../images/products/<%= spd[0].product_img_path %>">
        <div class="canvas_div">
            <canvas class="can" id="c" width="250px" height="280px"></canvas>
        </div>
    </div>

    <div class="order_man">
        <div class="order_man_title">
            <h2>주문자 정보</h2>
            <div class="title_bottom_line"></div>
        </div>
        <div class="order_man_content_user">
            <div class="order_man_info">
                <div class="order_man_info_con">
                    <div class="order_man_position">
                        <h3>이름</h3>
                        <p><%= name %></p>
                    </div>
                </div>
                <div class="order_man_info_con">
                    <div class="order_man_position">
                        <h3>휴대전화</h3>
                        <p><%= phone%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order_man">
        <div class="order_man_title">
            <h2>배송지 정보</h2>
            <div class="title_bottom_line"></div>
        </div>
        <div class="order_man_content_address">
            <div class="order_man_adr_info">
                <div class="order_man_adr_info_con">
                    <div class="order_man_position">
                        <h3>배송지</h3><select name="" id="select_address" onchange="changeAddressInfo()">
                            <% for(var data=0; data<user_address.length; data++){%>
                            <option value="<%= data%>" <% if(data == 0){%> selected
                                <%}%> >배송지 이름: <%= user_address[data].adr_name%></option> <%}%>
                        </select>
                    </div>
                </div>
                
                <div class="order_man_adr_info_con">
                    <div class="order_man_position">
                        <h3>수령인</h3>
                        <p id="get_user_name"></p>
                    </div>
                </div>
    
                <div class="order_man_adr_info_con"> 
                    <div class="order_man_position">
                        <h3>연락처</h3>
                            <p id="get_user_phone"></p>
                    </div>
                </div>
                <div class="order_man_adr_info_con"> 
                    <div class="order_man_position">
                        <h3>우편번호</h3>
                        <p id="get_user_post_num"></p>
                    </div>
                </div>
                <div class="order_man_adr_info_con">
                    <div class="order_man_position">
                        <h3>메인주소</h3>
                        <p id="get_main_address"></p>
                    </div>
                </div>
                <div class="order_man_adr_info_con">
                    <div class="order_man_position">
                        <h3>상세주소</h3>
                        <p id="get_detail_address"></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        

 

    <div class="order_man" id="target_img">
        <div class="order_man_title">
            <h2>결제 정보</h2>
            <div class="title_bottom_line"></div>
        </div>
        <div class="order_man_content">
            <div class="order_man_pay_info">
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>상품가격</h3>
                        <p id="product_price">15000</p>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3 style="position: absolute; top: 50%; transform: translateY(-50%);">갯수</h3>
                        <div class="get_count">
                            <form>
                                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                                <input type="number" id="number" value="1" readonly/>
                                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>총 결제금액</h3>
                        <p id="total_pay">15000</p>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>결제 카드</h3>
                        <select name="" id="select_card" onchange="changeCardInfo()">
                            <% for(var i =0; i<user_card.length; i++){%>
                            <option value="<%= i%>" <% if(i == 0){%> selected
                                <%}%>>카드이름: <%= user_card[i].card_name%></option> <%}%>
                        </select>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>카드 번호</h3>
                        <p id="user_card_num"></p>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>카드 CVC번호</h3>
                        <p id="user_card_CVC"></p>
                    </div>
                </div>
                <div class="order_man_pay_info_con">
                    <div class="order_man_position">
                        <h3>카드유효기간</h3>
                        <p id="user_card_date"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pay_button_area">
        <div class="pay_button">
            <a onclick="payMoney()"\>결제하기</a>
        </div>
    </div>
    

    <script>

    </script>


    <script>

        // 페이지 로드 될때 값 미리 띄어 놓기
        function select_box_change() {
            var select_card = document.getElementById("select_card");

            var selected_card = select_card.options[select_card.selectedIndex].value;


            var card_num = document.getElementById("user_card_num");
            var card_CVC = document.getElementById("user_card_CVC");
            var card_date = document.getElementById("user_card_date");

            var card_arr1 = []
            var card_arr2 = []
            var card_arr3 = []


            "<% for(var j of user_card){%>"
            card_arr1.push("<%= j.card_num%>")
            card_arr2.push("<%= j.card_CVC%>")
            card_arr3.push("<%= j.card_date%>")
            "<%}%>"

            card_num.innerHTML = card_arr1[selected_card]
            card_CVC.innerHTML = card_arr2[selected_card]
            card_date.innerHTML = card_arr3[selected_card]

            var user_name = document.getElementById('get_user_name');
            var user_phone = document.getElementById("get_user_phone");
            var post_num = document.getElementById("get_user_post_num");
            var address_main = document.getElementById("get_main_address");
            var address_detail = document.getElementById("get_detail_address");

            var select = document.getElementById("select_address");

            var select_address = select.options[select.selectedIndex].value;



            var adr_arr1 = []
            var adr_arr2 = []
            var adr_arr3 = []
            var adr_arr4 = []
            var adr_arr5 = []

            "<% for(var j of user_address){%>"
            adr_arr1.push("<%= j.adr_get_user_name%>")
            adr_arr2.push("<%= j.adr_user_phone%>")
            adr_arr3.push("<%= j.adr_post_num%>")
            adr_arr4.push("<%= j.adr_main%>")
            adr_arr5.push("<%= j.adr_detail%>")
            "<%}%>"



            user_name.innerHTML = adr_arr1[select_address]
            user_phone.innerHTML = adr_arr2[select_address]
            post_num.innerHTML = adr_arr3[select_address]
            address_main.innerHTML = adr_arr4[select_address]
            address_detail.innerHTML = adr_arr5[select_address]

        }

        // select 카드 정보 바꾸는거
        function changeCardInfo() {
            var select_card = document.getElementById("select_card");

            var selected_card = select_card.options[select_card.selectedIndex].value;


            var card_num = document.getElementById("user_card_num");
            var card_CVC = document.getElementById("user_card_CVC");
            var card_date = document.getElementById("user_card_date");

            var card_arr1 = []
            var card_arr2 = []
            var card_arr3 = []

            "<% for(var j of user_card){%>"
            card_arr1.push("<%= j.card_num%>")
            card_arr2.push("<%= j.card_CVC%>")

            card_arr3.push("<%= j.card_date%>")
            "<%}%>"

            card_num.innerHTML = card_arr1[selected_card]
            card_CVC.innerHTML = card_arr2[selected_card]
            card_date.innerHTML = card_arr3[selected_card]
        }


        // select 배송지 정보 바꾸는거
        function changeAddressInfo() {
            var user_name = document.getElementById('get_user_name');
            var user_phone = document.getElementById("get_user_phone");
            var post_num = document.getElementById("get_user_post_num");
            var address_main = document.getElementById("get_main_address");
            var address_detail = document.getElementById("get_detail_address");

            var select = document.getElementById("select_address");

            var select_address = select.options[select.selectedIndex].value;



            var adr_arr1 = []
            var adr_arr2 = []
            var adr_arr3 = []
            var adr_arr4 = []
            var adr_arr5 = []

            "<% for(var j of user_address){%>"
            adr_arr1.push("<%= j.adr_get_user_name%>")
            adr_arr2.push("<%= j.adr_user_phone%>")
            adr_arr3.push("<%= j.adr_post_num%>")
            adr_arr4.push("<%= j.adr_main%>")
            adr_arr5.push("<%= j.adr_detail%>")
            "<%}%>"



            user_name.innerHTML = adr_arr1[select_address]
            user_phone.innerHTML = adr_arr2[select_address]
            post_num.innerHTML = adr_arr3[select_address]
            address_main.innerHTML = adr_arr4[select_address]
            address_detail.innerHTML = adr_arr5[select_address]
        }
    </script>
</body>
</html>
<script src="/javascripts/spinner.js"></script>


<script>
    var canvas = new fabric.Canvas('c');
    const canvCenter = canvas.getCenter();
    fabric.Image.fromURL('<%= imageurl %>', function (img) {
        img.set({
            left: canvCenter.left,
            top: canvCenter.top,
            originX: 'center',
            originY: 'center',
        })
        img.scaleToHeight(100);
        img.scaleToWidth(200);
        canvas.add(img);
    });

    function payMoney() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/order/order_buy');
        document.charset = "utf-8";

        var hiddenField2 = document.createElement('input');
        var hiddenField4 = document.createElement('input');
        var hiddenField5 = document.createElement('input');
        var hiddenField6 = document.createElement('input');
        var hiddenField7 = document.createElement('input');
        var hiddenField8 = document.createElement('input');
        var hiddenField9 = document.createElement('input');
        var hiddenField10 = document.createElement('input');
        var hiddenField11 = document.createElement('input');
        var hiddenField12 = document.createElement('input');
        var hiddenField13 = document.createElement('input');
        var hiddenField14 = document.createElement('input');
        var hiddenField15 = document.createElement('input');


        hiddenField2.setAttribute('type', 'hidden');
        hiddenField2.setAttribute('name', 'order_state');
        hiddenField2.setAttribute('value','주문완료')
        hiddenField4.setAttribute('type', 'hidden');
        hiddenField4.setAttribute('name', 'order_money');
        hiddenField4.setAttribute('value',document.getElementById('total_pay').innerText)
        hiddenField5.setAttribute('type', 'hidden');
        hiddenField5.setAttribute('name', 'order_card_num');
        hiddenField5.setAttribute('value',document.getElementById('user_card_num').innerText)
        hiddenField6.setAttribute('type', 'hidden');
        hiddenField6.setAttribute('name', 'order_card_date');
        hiddenField6.setAttribute('value',document.getElementById('user_card_date').innerText)
        hiddenField7.setAttribute('type', 'hidden');
        hiddenField7.setAttribute('name', 'order_card_CVC');
        hiddenField7.setAttribute('value',document.getElementById('user_card_CVC').innerText)
        hiddenField8.setAttribute('type', 'hidden');
        hiddenField8.setAttribute('name', 'order_post_num');
        hiddenField8.setAttribute('value',document.getElementById('get_user_post_num').innerText)
        hiddenField9.setAttribute('type', 'hidden');
        hiddenField9.setAttribute('name', 'order_post_main');
        hiddenField9.setAttribute('value',document.getElementById('get_main_address').innerText)
        hiddenField10.setAttribute('type', 'hidden');
        hiddenField10.setAttribute('name', 'order_post_detail');
        hiddenField10.setAttribute('value',document.getElementById('get_detail_address').innerText)
        hiddenField11.setAttribute('type', 'hidden');
        hiddenField11.setAttribute('name', 'order_get_user_name');
        hiddenField11.setAttribute('value',document.getElementById('get_user_name').innerText)
        hiddenField12.setAttribute('type', 'hidden');
        hiddenField12.setAttribute('name', 'order_user_phone');
        hiddenField12.setAttribute('value',document.getElementById('get_user_phone').innerText)
        hiddenField13.setAttribute('type', 'hidden');
        hiddenField13.setAttribute('name', 'order_product_count');
        hiddenField13.setAttribute('value',document.getElementById('number').value)
        hiddenField14.setAttribute('type', 'hidden');
        hiddenField14.setAttribute('name', 'order_paint_img');
        hiddenField14.setAttribute('value', canvas.toDataURL());
        hiddenField15.setAttribute('type', 'hidden');
        hiddenField15.setAttribute('name', 'order_product_num');
        hiddenField15.setAttribute('value',`<%= spd[0].product_num %>`)
        form.appendChild(hiddenField2);
        form.appendChild(hiddenField4);
        form.appendChild(hiddenField5);
        form.appendChild(hiddenField6);
        form.appendChild(hiddenField7);
        form.appendChild(hiddenField8);
        form.appendChild(hiddenField9);
        form.appendChild(hiddenField10);
        form.appendChild(hiddenField11);
        form.appendChild(hiddenField12);
        form.appendChild(hiddenField13);
        form.appendChild(hiddenField14);
        form.appendChild(hiddenField15);

        document.body.appendChild(form);
        form.submit();
    }
</script>