<!DOCTYPE html>
<html>

<head>
    <title>CS</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/select/select1.css' />
    <link rel='stylesheet' href='/stylesheets/sidenav.css' />
    <link rel='stylesheet' href='/stylesheets/product_card.css' />
    <style>
        .product_contents {
            margin-top: 100px;
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 1164px;
        }

        .product_contents .product_nav {
            float: left;
            width: 200px;
        }

        .product_contents .product_main {
            float: right;

            width: 932px;
            
            margin-left: 32px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <%- include("../head/nav",{name:name}) %>
    <div class="product_contents">
        <div class="product_nav">
            <%- include("./head/sidenavclothes")%>
        </div>
        <div class="product_main">
            <% for(var j=0; j<clothProduct.length; j++){%>
            <a href="/order/<%= clothProduct[j].product_num %>">
                <div class="cards">
                    <div class="img-size">
                        <img src="../../images/products/<%= clothProduct[j].product_img_path %>">
                        <div class="pop_btn">
                            <div class="cards_btn">go to create</div>
                            <div class="bar"></div>
                            <div class="rot_bar"></div>
                        </div>
                    </div>

                    <div class="container">
                        <p class="title"><%= clothProduct[j].product_name %></p>
                        <p class="price"><%= clothProduct[j].product_price %></p>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</body>

</html>


<script type="text/javascript">

    function setsub2() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function outsub2() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block"
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
    function lsub2() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function loutsub2() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block"
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
    function setsub() {

    }
    function outsub() {

    }
    function lsub() {

    }
    function loutsub() {

    }
</script>