<style>
    hr {
        border: 1px solid #DDD;
    }

    #review_body {
        width: 1000px;
        height: auto;

        margin: 0 auto;
        margin-top: 100px;
    }

    .review_header {
        font-size: 32px;
        border-bottom: 3px solid #AAA;
        padding-bottom: 30px;
    }

    .detail {
        text-align: right;

    }

    #review_header_f {
        margin-right: 5px;

    }

    #review_header_s {
        color: #868e96;
        font-size: 15px;
        margin-left: 880px;

    }


    #review_info {
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 10px;
        margin: 20px;
    }

    #review_info .item:nth-child(1) {

        flex-basis: 50px;

        margin-right: 30px;

    }

    #review_info .item:nth-child(2) {

        flex-basis: 500px;
        margin-right: 150px;
    }

    #review_info .item:nth-child(3) {


        flex-basis: 160px;

    }

    .item {
        color: #000;
    }

    #item_list {
        display: flex;
        flex-direction: column;
    }

    #item_list span {
        margin-bottom: 10px;
    }

    .star_space {
        display: inline-block;
        width: 111px;
        height: 20px;
        background: url('../images/star_empty.png') no-repeat;
        background-size: 111px 20px;
    }

    .star_space div {
        height: 100%;
        color: transparent;
        background: url('../images/star_full.png') no-repeat;
        background-size: 111px 20px;
    }

    .review_product_img {
        width: 50px;
        height: 50px;
        display: block;
        color: transparent;

    }


    .review_user_img {
        width: 160px;
        height: 160px;
        display: block;
        color: transparent;


    }
</style>

<div class="product_area_mini">

    <div id="review_body">
        <div class="review_header">
            <span id="review_header_f">리뷰</span><a id="review_header_s" href="/review">더보기</a>
        </div>

        <% for(var i = 0; i<reviewMain.length; i++) {%>
            <div id="review_info">

                <div class="item">
                    <a href="" class="review_product_img" id="product_img<%= i%>" style="background: url('../images/main_page/card_earphone.jpg') no-repeat; background-size: 50px 50px;"></a>
                    <script>
                        var product_img = document.getElementById('product_img<%= i%>');
                        if('<%= reviewMain[i].product_img_path%>' == 'none'){
                            product_img.style.backgroundImage = "url('../images/main_page/브라이언.jpg')";
                        }
                    </script>
                </div>

                <div class="item" id="item_list">
                    <span><%= reviewMain[i].product_name%></span>
                    <span>별점
                        <div class="star_space">
                            <div id="score<%= i%>" style="width: 100%;"></div>
                        </div>
                        <script>
                            var score = document.getElementById('score<%= i%>');
                            score.style.width = '<%= reviewMain[i].pro_score*20%>%'
                        </script>
                        <span><%=  reviewMain[i].pro_review_date%></span>
                        <span><%=  reviewMain[i].review_user_id%></span>
                    </span>
                    <span><%=  reviewMain[i].pro_review_content%></span>
                </div>

                <div class="item">
                    <a href="" class="review_user_img" id="review_img<%= i%>" style="background: url('../images/main_page/card_earphone.jpg') no-repeat; background-size: 160px 160px;">리뷰이미지</a>
                    <script>
                        var user_review_img = document.getElementById('review_img<%= i%>');
                        if('<%= reviewMain[i].pro_img_path%>' == 'none'){
                            user_review_img.style.backgroundImage = "url('../images/main_page/card_cloth2.jpg')";
                        }
                    </script>
                </div>

            </div>

            <hr>

            <%}%>


        







    </div>
</div>